
tr.big td {
    font-weight: bold;
}


.right {
    text-align: right;
    padding-right: 3em;
}

h1 {
    margin-left: 1em;
}
h2 {
    font-size: 1.2em;
    padding-left: 1em;
    margin: 2em 1em 1em 1em;
}

form {
    margin: 0.5em;
}
label {
    margin-right: 0.5em;
}
select {
    margin: 0.3em;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    background: #fff;
    border-collapse: collapse;
    text-align: left;
    margin: 20px;
}
table th {
    font-size: 1.1em;
    font-weight: normal;
    color: #5e001f;
    border-bottom: 2px solid #6678b1;
    padding: 0.5em 1em;
}
table td {
    color: #669;
    border-bottom: 1px dotted #ccc;
    padding: 0.5em 1em;
}
table tbody tr:hover td {
    color: #005;
}
table tfoot td {
    color: #5e001f;
    border-top: 2px solid #aaa;
    border-bottom: none;
    padding: 0.5em 1em;
}
table input {
    width: 3em;
}
